/*
** file: css/main.css
** description: custom styling for "html/main.html" file
*/

@import url('https://fonts.googleapis.com/css?family=Roboto');

@keyframes color-fade-in {
    from {background-color: #f2f2f2;}
    to {background-color: #87E2FF;}
}

body {
    background: #87E2FF;
    animation-name: color-fade-in;
    animation-duration: 3s;
}

div#main-jumbotron {
    text-align: center;
    width: 400px;
    background: #87E2FF;
    border: 20px;
    animation-name: color-fade-in;
    animation-duration: 3s;
}

div#positivity-button-container {
    width: 100px;
}

@keyframes font-fade-in {
    from {color: #f2f2f2;}
    to {color: #ffffff;}
}

div h1, p {
    color: #ffffff;
    font-family: 'Roboto';
    /*font-family: Pacifico;*/
    animation-name: font-fade-in;
    animation-duration: 3s;
}

#subtitle {
    font-size: 18pt;
}

#buttons-container {
    width: 280px;
}

div#main-inner {
    padding: 8px;
}
